@model Robot_Simulation.Models.Game

<partial name="_MenuStyles" />

<div class="shop-menu">
    <a href="/Games/Upgrades?id=@Model.ID" class="shop-menu-item @(ViewContext.RouteData.Values["action"]?.ToString() == "Upgrades" ? "active" : "")">
        Raktár bővitése
    </a>
    <a href="/Games/ChargingShop?id=@Model.ID" class="shop-menu-item @(ViewContext.RouteData.Values["action"]?.ToString() == "ChargingShop" ? "active" : "")">
        Töltö robotok
    </a>
    <a href="/Games/PackingShop?id=@Model.ID" class="shop-menu-item @(ViewContext.RouteData.Values["action"]?.ToString() == "PackingShop" ? "active" : "")">
        Pakoló robotok
    </a>
</div>
