@{
    ViewData["Title"] = "Menu";
}

<style>
    .menu-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 100px);
        font-family: Arial, sans-serif;
        background-color: transparent;
    }

    .menu-buttons {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 350px;
    }

    .menu-btn {
        padding: clamp(15px, 2.5vh, 40px);
        text-align: center;
        font-size: clamp(18px, 2vw, 36px);
        border-radius: 8px;
        text-decoration: none;
        color: black;
        border: 1px solid;
        display: block;
    }
    
        .menu-btn:hover {
            filter: brightness(0.95);
            color: black
        }

    .btn-new-load {
        background-color: #f6f6f6;
        border-color: #e0e0e0;
    }

    .btn-exit {
        background-color: #f9d9d9;
        border-color: #edbfbf;
    }
</style>

<div class="menu-wrapper">
    <div class="menu-buttons">
        <a asp-action="NewGame" class="menu-btn btn-new-load">Új játék</a>
        <a asp-action="LoadGame" class="menu-btn btn-new-load">Játék betöltése</a>
        <a asp-action="Exit" class="menu-btn btn-exit">Kilépés</a>
    </div>
</div>