@model Robot_Simulation.Models.Game

@{
    ViewData["Title"] = "Raktár";
}

<div>
    <div>Raktár</div>

    <div>
        <h4>Játék részletei</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                <strong>Játék név:</strong>
            </dt>
            <dd class="col-sm-9">
                @Model.GameName
            </dd>
            <dt class="col-sm-3">
                <strong>Egyenleg:</strong>
            </dt>
            <dd class="col-sm-9">
                @Model.Balance $
            </dd>
            <dt class="col-sm-3">
                <strong>Raktár méret:</strong>
            </dt>
            <dd class="col-sm-9">
                @Model.WareHouse.StorgarSize
            </dd>
        </dl>
    </div>
</div>