@model Robot_Simulation.Models.Game

@{
    ViewData["Title"] = "Csomagok";
}

<h1>Csomagok leltára</h1>

<div class="package-list-container">
    <p>Csomagok - Játék: @Model.GameName</p>
    <p>Egyenleg: @Model.Balance $</p>
</div>
