@model Robot_Simulation.Models.Game

@{
    ViewData["Title"] = "Robot vásárlás";
}

<h1>Robot vásárlás</h1>

<div class="robot-shop-container">
    <p>Robot bolt - Játék: @Model.GameName</p>
    <p>Egyenleg: @Model.Balance $</p>
</div>
